@import '../../App.scss';

.character__detail {
  min-height: calc(100vh - 5vh);
  padding-top: 75px;
  &--container {
    margin: auto;
    background-color: $white;
    border-radius: 45px;
    width: 75vw;
    max-width: 475px;
    border: 6px solid $black;
    @media all and (min-width: 768px) {
      max-width: 600px;
      min-height: 290px;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    @media all and (min-width: 425px) {
      flex-direction: row;
      text-align: left;
    }
  }
  &--image {
    padding: 15px;
    width: 70%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    @media all and (min-width: 425px) {
      width: 50%;
    }
  }
  &--text {
    font-size: 1.6rem;
    padding: 0 5px 15px;
  }
  &--name {
    font-size: 1.6rem;
    padding-bottom: 15px;
    @media all and (min-width: 425px) {
      font-size: 2rem;
      padding-top: 15px;
      padding-right: 5px;
    }
    @media all and (min-width: 768px) {
      font-size: 2.6rem;
      padding-bottom: 25px;
    }
  }
  &--species,
  &--episode,
  &--origin,
  &--status {
    padding-bottom: 10px;
    @media all and (min-width: 425px) {
      padding-bottom: 10px;
    }
    @media all and (min-width: 768px) {
      font-size: 1.8rem;
      padding-bottom: 15px;
    }
  }
  &--episode {
    display: block;
  }
  &--status {
    display: block;
  }
  &--error {
    height: 100vh;
    background-image: url('../../assets/images/not-found-padding.png');
    background-color: #1d2124ff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    //gap: 10px;

    &-msg {
      font-size: 1.2rem;
      @media all and (min-width: 425px) {
        font-size: 1.4rem;
      }
      @media all and (min-width: 768px) {
        font-size: 1.6rem;
        margin-top: 45px;
      }
      max-width: 70%;
      margin-top: 20px;
      color: $white;
      text-align: center;
    }
  }
}

.go__back {
    width: 105px;
    background-color: $nuclear-green;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
    border-radius: 5px;
    &:hover {
      background-color: $black;
    }
    &--link {
      display: block;
      width: 100%;
      font-size: 2.4rem;
      padding: 3px 5px;
      text-decoration: none;
      font-family: $primary-font;
      font-weight: bold;
      color: $white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px $black;
      text-align: center;
      &:hover {
        color: $nuclear-green;
        text-shadow: 0;
      }
    }
  }
