@import '../../App.scss';

.character{
    &__card {
    align-self: center;
    font-size: 1.4rem;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: black;
    max-width: 280px;
    height: 100%;
    &--link {
      text-decoration: none;
      color: white;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
      &:hover {
        color: $nuclear-green;
      }
      text-align: center;
    }
    &--image {
      width: 100%;
      max-width: 250px;
      height: auto;
      border-radius: 15px;
    }
    &--name {
      font-size: 1.8rem;
    }
    &--species {
      font-size: 1.6rem;
      display: inline-block;
      padding-left: 10px;
    }
    &--status {
      margin-left: 10px;
    }
  }
}