.header {
    height: 20vh;
    @media all and (min-width: 425px){
        height: 25vh;
    }
    @media all and (min-width: 768px){
        height: 30vh;
    }
    @media all and (min-width:1440px){
        height: 35vh;
    }
    width: 100%;
    background-image: url('../../assets/images/hero-3-less.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
