@import '../../App.scss';

.footer {
  width: 100%;
  height: 5vh;
  background-color: $black;
  color: $nuclear-green;
  position: fixed;
  bottom: 0;
  &__text {
    height: inherit;
    &--small {
      display: block;
      height: inherit;
      padding: 7px 0 0;
      margin: 0 auto;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}