@import '../../App.scss';

.form__filter {
  display: flex;
  flex-flow: column wrap;
  @media all and (min-width: 425px) {
    flex-flow: row wrap;
    margin: auto;
  }
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin: 0 25px;
  max-width: 700px;
  &--name,
  &--species,
  &--origin {
    font-family: $primary-font;
    font-size: 1.6rem;
    padding: 3px 7px 0;
    width: 90%;
    @media all and (min-width: 425px) {
      width: 40%;
    }
    @media all and (min-width: 768px) {
      width: 30%;
    }
    height: 30px;
    border: 2px solid $nuclear-green;
    border-radius: 4px;
    &::placeholder {
      font-size: 1.6rem;
    }
    &:focus {
      border: 2px solid $nuclear-green;
    }
  }
}
