// reset styles
:root {
    font-family: $primary-font;
    font-size: 62.5%;
}

@font-face {
  font-family: 'The Get Schwifty';
  src: url('./assets/fonts/get_schwifty.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// main
.root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.95) 0.5%, rgba(0, 0, 0, 0.25)),
    url('./assets/images/background-lesser.gif');
  background-size: 250px;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
}
.main {
  min-height:100vh;
}
.characters {
  padding: 0 25px 45px;
  margin: 0  auto;
}
