/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

// variables
$nuclear-green: #28e116;
$text-clr:#d2c9b8;
$white: #fff;
$black: #000;

$primary-font: 'Rubik', sans-serif;
$accent-font: 'The Get Schwifty', sans-serif;

// reset styles
:root {
    font-family: $primary-font;
    font-size: 62.5%;
}

@font-face {
  font-family: 'The Get Schwifty';
  src: url('./assets/fonts/get_schwifty.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// main
.root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.95) 0.5%, rgba(0, 0, 0, 0.25)),
    url('./assets/images/background-lesser.gif');
  background-size: 250px;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;

}
.main {
  min-height:100vh;
}
.characters {
  padding: 0 25px 45px;
  margin: 0  auto;
}
